<div class="contact">
    <ul class="contact__list list-reset">
      {% if site.hero.twitter %}
        <li><a href="{{ site.hero.twitter }}"><i class="fab fa-twitter"></i></a></li>
      {% else %} {% endif %}
  
      {% if site.hero.facebook %}
        <li><a href="{{ site.hero.facebook }}"><i class="fab fa-facebook"></i></a></li>
      {% else %} {% endif %}
    
      {% if site.hero.dribbble %}
        <li><a href="{{ site.hero.dribbble }}"><i class="fab fa-dribble"></i></a></li>
      {% else %} {% endif %}
    
      {% if site.hero.instagram %}
        <li><a href="{{ site.hero.instagram }}"><i class="fab fa-instagram"></i></a></li>
      {% else %} {% endif %}
    
      {% if site.hero.pinterest %}
        <li><a href="{{ site.hero.pinterest }}"><i class="fab fa-pinterest"></i></a></li>
      {% else %} {% endif %}
    </ul>
  </div>