.contact {
    .contact__list {
      li {
        margin-left: 15px;
        display: inline-block;
  
        a {
          font-size: 18px;
          color: #7E7E7E;
          &:hover {
            color: #000000;
          }
        }
      }
    }
  }