---
layout: default
title: Archive
---

<!-- Begin List Posts
================================================== -->

<h1>Archive of posts by year</span></h1>

<div class="blog-grid-container">


{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
    {% for yearMonth in postsByYearMonth %}
    <li class="list-group-item py-1">
    {% for item in yearMonth.items limit: 1 %}
      <a href="{{ site.url }}/{{ item.date | date: '%Y/%m' }}">{{ yearMonth.name }}</a>
    {% endfor %}
    </li>
{% endfor %}


</div>


